<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love2laundry.project.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".LogoutActivity" />
        <activity
            android:name=".PickCountryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentCardsActivity"
            android:label="@string/title_activity_payment_cards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditPaymentCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddPaymentCardActivity"
            android:label="@string/title_activity_payment_cards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiscountsActivity"
            android:label="@string/title_activity_discount_codes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LaundrySettingsActivity"
            android:label="@string/title_activity_laundry_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".PickCountryActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PickCountryActivity" />
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".LoginActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity
            android:name=".LoyaltyActivity"
            android:label="@string/title_activity_loyalties"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_loyalty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvoicesActivity"
            android:label="@string/title_activity_invoices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CancelInvoiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditInvoiceActivity"
            android:label="@string/title_activity_edit_invoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CopyInvoiceActivity"
            android:label="@string/title_activity_invoices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UKActivity"
            android:label="@string/title_activity_uk" />
        <activity
            android:name=".UAEActivity"
            android:label="@string/title_activity_uae" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".InvoiceActivity"
            android:label="@string/title_activity_invoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DatesActivity"
            android:label="@string/pick_up_date" />
        <activity
            android:name=".TimeActivity"
            android:label="@string/pick_up_time" />
        <activity
            android:name=".CreditCardsActivity"
            android:label="@string/credit_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCardSubActivity"
            android:label="@string/credit_card"
            android:parentActivityName=".CreditCardsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreditCardsActivity" />
        </activity>
        <activity
            android:name=".ReferralActivity"
            android:label="@string/title_activity_referral"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>